

#newToDoText {
  font-size: 12px;
  background-color: hsla(0, 0%, 0%, 0.12);
  border-radius: 4px;
  border: 0.5px solid #cccccc;
  margin: 5px;

}

label {
  padding-top: 4px;
  font-size: 14px;

}



@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
